@font-face {
  font-family: "firasans-regular";
  src: url("../fonts/firasans-regular.eot")/*tpa=http://lucky-cars.ru/fonts/firasans-regular.eot*/;
  src: url("../fonts/firasans-regular.eot-#iefix")/*tpa=http://lucky-cars.ru/fonts/firasans-regular.eot?#iefix*/format("embedded-opentype"),
  url("../fonts/firasans-regular.woff")/*tpa=http://lucky-cars.ru/fonts/firasans-regular.woff*/ format("woff"),
  url("../fonts/firasans-regular.ttf")/*tpa=http://lucky-cars.ru/fonts/firasans-regular.ttf*/ format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "firasans-extrabold";
  src: url("../fonts/firasans-extrabold.eot")/*tpa=http://lucky-cars.ru/fonts/firasans-extrabold.eot*/;
  src: url("../fonts/firasans-extrabold.eot-#iefix")/*tpa=http://lucky-cars.ru/fonts/firasans-extrabold.eot?#iefix*/format("embedded-opentype"),
  url("../fonts/firasans-extrabold.woff")/*tpa=http://lucky-cars.ru/fonts/firasans-extrabold.woff*/ format("woff"),
  url("../fonts/firasans-extrabold.ttf")/*tpa=http://lucky-cars.ru/fonts/firasans-extrabold.ttf*/ format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "UniSansHeavyCAPS";
  src: url("../fonts/UniSansHeavyCAPS.eot")/*tpa=http://lucky-cars.ru/fonts/UniSansHeavyCAPS.eot*/;
  src: url("../fonts/UniSansHeavyCAPS.eot-#iefix")/*tpa=http://lucky-cars.ru/fonts/UniSansHeavyCAPS.eot?#iefix*/format("embedded-opentype"),
  url("../fonts/UniSansHeavyCAPS.woff")/*tpa=http://lucky-cars.ru/fonts/UniSansHeavyCAPS.woff*/ format("woff"),
  url("../fonts/UniSansHeavyCAPS.ttf")/*tpa=http://lucky-cars.ru/fonts/UniSansHeavyCAPS.ttf*/ format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "UniSansThinCAPS";
  src: url("../fonts/UniSansThinCAPS.eot")/*tpa=http://lucky-cars.ru/fonts/UniSansThinCAPS.eot*/;
  src: url("../fonts/UniSansThinCAPS.eot-#iefix")/*tpa=http://lucky-cars.ru/fonts/UniSansThinCAPS.eot?#iefix*/format("embedded-opentype"),
  url("../fonts/UniSansThinCAPS.woff")/*tpa=http://lucky-cars.ru/fonts/UniSansThinCAPS.woff*/ format("woff"),
  url("../fonts/UniSansThinCAPS.ttf")/*tpa=http://lucky-cars.ru/fonts/UniSansThinCAPS.ttf*/ format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "UbuntuBold";
  src: url("../fonts/UbuntuBold.eot")/*tpa=http://lucky-cars.ru/fonts/UbuntuBold.eot*/;
  src: url("../fonts/UbuntuBold.eot-#iefix")/*tpa=http://lucky-cars.ru/fonts/UbuntuBold.eot?#iefix*/format("embedded-opentype"),
  url("../fonts/UbuntuBold.woff")/*tpa=http://lucky-cars.ru/fonts/UbuntuBold.woff*/ format("woff"),
  url("../fonts/UbuntuBold.ttf")/*tpa=http://lucky-cars.ru/fonts/UbuntuBold.ttf*/ format("truetype");
  font-style: normal;
  font-weight: normal;
}

.html {
  box-sizing: border-box;
}

*,*::after,*::before {
  box-sizing: inherit;
}

body {
  font-family: "firasans-regular";
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.header {
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../images/bg_1.jpg);
}

.header__top {
  background: rgba(179, 179, 179, 0.651);
  padding: 20px 0 20px 0;
}

.header__top-inner {
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
}

.logo__link {
  margin-right: 20px;
}

.logo__title {
  justify-content: flex-end;
}

.logo__text {
  font-family: "firasans-extrabold";
  font-size: 35px;
  margin: 10px 0 0 0;
}

.logo__subtext {
  font-family: "firasans-regular";
  font-size: 12px;
  margin-top: 0;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.contact__tel {
  display: flex;
  align-items: center;
  font-size: 25px;
}

.contact__img {
  padding-bottom: 5px;
}

.contact__number {
  color: rgb(0, 0, 0);
  margin-left: 10px;
  font-weight: bold;
  text-decoration: none;
}

.contact__text {
  margin: 7px 0 7px 0;
  font-size: 15px;
  text-align: right;
}

.contact__callback {
  color: rgb(0, 0, 0);
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  border-bottom: 2px dashed;
}

.header__navbar {
  background: rgba(0, 0, 0, 0.705);
}

.menu__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.menu__list-item {
  list-style-type: none;
  padding: 10px 20px 10px 20px;
  transition: all 0.5s ease;
}

.menu__list-item:hover {
  background: rgba(179, 179, 179, 0.651);
}

.menu__list-link {
  text-decoration: none;
  font-size: 15px;
  color: #fff;
}

.header__content-title {
  color: #fff;
  text-align: center;
  margin: 60px 50px 0 50px;
  padding: 10px 0 10px 0;
  font-size: 48px;
  font-family: "firasans-extrabold";
  background: url(../images/slogon_fon.png)/*tpa=http://lucky-cars.ru/img/slogon_fon.png; */ repeat 0px 0px;
}

.header__content-title-off {
  color: #fff;
  display: flex;
  font-size: 44px;
  justify-content: center;
  align-items: center;
  margin: 0 140px 20px 140px;
  padding: 0px 20px 0px 20px;
  font-family: "firasans-extrabold";
  background: url(../images/slogon_fon.png)/*tpa=http://lucky-cars.ru/img/slogon_fon.png; */ repeat 0px 0px;
}

.header__content-title-img {
  margin: 0 15px 0 0;
  padding: 10px 0 10px 0
}

.header__content-title-text {
  margin: 0;
}

.header__content-subtitle {
  color: #fff;
  text-align: center;
  margin: 20px 140px 40px 140px;
  padding: 10px 0 10px 0;
  font-size: 30px;
  background: url(../images/slogon_fon.png)/*tpa=http://lucky-cars.ru/img/slogon_fon.png; */ repeat 0px 0px;
}

.header__content-offer {
  margin-right: 662px;
}

.offer-item {
  background: url(../images/advant1.png)/*tpa=http://lucky-cars.ru/img/advant1.png*/ no-repeat 0px 0px;
  display: flex;
  align-items: center;
  padding: 15px 16px 25px 15px;
  margin: 15px 15px 0px 0px;
}

.offer-item__img {
  max-width: 30px;
  padding: 5px 8px 15px 0px;
  margin-right: 18px;
}

.offer-item__text {
  margin: 3px 0px 2px 6px;
  font-size: 17px;
}

.header__content-text {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}

.header__content-text span {
  font-size: 28px;
}

.header__disc {
  margin: 0 662px 0 0;
  padding-bottom: 60px;
}

.header__disc-present {
  margin: 0 0 -5px 140px;
}

.header__disc-text {
  background: url(../images/present_fon.png)/*tpa=http://lucky-cars.ru/img/present_fon.png;*/ repeat 0px 0px;
  text-align: center;
  padding: 40px 16px;
  font-size: 24px;
  margin: 0;
}

.header__disc-text span {
  font-size: 28px;
  font-weight: bold;
}

.header__disc-btn {
  background: url(../images/but_zakaz.png)/*tpa=http://lucky-cars.ru/img/but_zakaz.png;  */ no-repeat 0px 0px;
  transition: background 0.2s linear 0s;
  padding: 24px 42px 18px 110px;
  margin-left: 54px;
  color: #000;
  font-size: 22px;
  font-weight: bold;
  text-decoration: none;
}

.header__disc-btn:hover {
  background: url(../images/but_zakaz_sel.png)/*tpa=http://lucky-cars.ru/img/but_zakaz.png;  */ no-repeat 0px 0px;
}

.work__items {
  display: flex;
  justify-content: space-between;
  margin: 70px 0 70px 0;
  border-bottom: 1px solid rgb(146, 146, 146);
}

.work__content {
  margin-left: 70px;
}

.work__content-title {
  font-size: 48px;
  font-family: "firasans-extrabold";
}

.work__content-title span {
  font-size: 72px;
}

.work__content-text {
  line-height: 23px;
  margin-bottom: 50px;
}

.work__content-media {
  padding: 50px 0 30px 80px;
  border-top: 1px solid rgb(146, 146, 146);
  background: url(../images/ico_video.png)/*tpa=http://lucky-cars.ru/img/ico_video.png*/ no-repeat 0px 44px;
}

.work__content-link {
  text-decoration: none;
  color: #000;
  font-size: 20px;
}

.work__content-link:hover {
  border-bottom: 2px dashed #000;
}

.problems {
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../images/bg_3.jpg);
  padding-top: 70px;
}

.problems__title {
  font-size: 48px;
  padding-right: 98px;
  font-family: "firasans-extrabold";
  background: url(../images/screen3_drive.png)/*tpa=http://lucky-cars.ru/img/ico_video.png*/ no-repeat right 10px;
}

.problems__title span {
  font-size: 70px;
}

.problems__text {
  background: rgba(179, 179, 179, 0.651);
  padding: 25px 30px 25px 30px;
}

.problems__text-item {
  background: url(../images/canc.png)/*tpa=http://lucky-cars.ru/img/canc.png*/ no-repeat 0px 0px;
  padding: 3px 35px;
}

.problems__bottom {
  background: rgba(179, 179, 179, 0.651);
}

.problems__bottom {
  margin-top: 120px;
}

.problems__bottom-text {
  font-family: "firasans-extrabold";
  font-size: 41px;
  padding: 15px 0;
  margin: 0;
}

.begin__content {
  padding: 70px 0;
  background: url(../images/screen4_logo.png)/*tpa=http://lucky-cars.ru/img/canc.png*/ no-repeat 849px 99px;
}

.begin__title {
  text-align: center;
  margin: 0 150px 70px;
  border: 1px solid rgb(0, 0, 0);
}

.begin__title-text {
  font-size: 55px;
  font-family: "firasans-extrabold";
}

.begin__title-text span {
  font-size: 75px;
}

.begin__item {
  display: flex;
  align-items: center;
  margin: 30px 0;
  padding: 20px 50px;
  border: 1px solid rgb(134, 134, 134);
}

.begin__item-l {
  padding-right: 70px;
}

.begin__item-r {
  padding-left: 60px;
  border-left: 1px solid rgb(134, 134, 134);
}

.item-text__title {
  display: flex;
  align-items: center;
  background: url(../images/screen4_item_line.png)/*tpa=http://lucky-cars.ru/img/screen4_item_line.png*/ #db8900 no-repeat 70px 0px;
}

.item-text__title-img {
  padding: 10px 15px;
}

.item-text__title-text {
  padding-left: 15px;
  font-size: 30px;
  font-family: "firasans-extrabold";
  margin: 0;
}

.why {
  padding: 30px 0 100px 0;
  background: url(../images/scr9_img.png)/*tpa=http://lucky-cars.ru/img/screen4_item_line.png*/ no-repeat right 70px;
}

.why__content-title {
  font-size: 37px;
  font-family: "firasans-extrabold";
}

.why__content-title span {
  font-size: 64px;
}

.why__content-text {
  padding: 30px 55px 0 0;
  margin: 0 350px 0 0;
  text-align: justify;
}

.watch {
  padding: 70px 0 90px 0;
  background: url(../images/bg_10.jpg)/*tpa=http://lucky-cars.ru/img/bg_10.jpg*/ #d8d9da no-repeat center center;
}

.watch__content {
  display: flex;
  justify-content: space-between;
  min-width: 0;
}

.watch__content-right {
  min-width: 0;
  overflow: hidden;
}

.watch__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "firasans-extrabold";
  line-height: 60px;
  margin: 60px 50px 30px 0;
  padding-bottom: 30px;
  border-bottom: 1px solid #000;
}

.watch__title-text {
  font-size: 46px;
  margin: 0 40px 0 30px;
}

.watch__title-text span {
  font-size: 72px;
}

.watch__content-list-item {
  padding: 28px 0 28px 80px;
}

.list-item__one {
  background: url(../images/scr10_item1.png)/*tpa=http://lucky-cars.ru/img/scr10_item3.png*/ no-repeat 0px 0px;
}

.list-item__two {
  background: url(../images/scr10_item2.png)/*tpa=http://lucky-cars.ru/img/scr10_item3.png*/ no-repeat 0px 0px;
}

.list-item__three {
  background: url(../images/scr10_item3.png)/*tpa=http://lucky-cars.ru/img/scr10_item3.png*/ no-repeat 0px 0px;
}

.slick-track{
  display: flex;
  min-width: 0;
}

.slick-slide:focus {
  outline: none;
}

.slider {
  position: relative;
  min-width: 0;
  width: 100%;
}

.slider .slick-arrow {
  position: absolute;
  top: 100%;
  z-index: 10;
  font-size: 0;
  width: 10px;
  height: 36px;
  border: none;
  cursor: pointer;
  outline: none;
}

.slick-disabled {
  opacity: 0.3;
}

.slick-prev {
  background: url('../images/sl-arrow-l.png') 0 0 no-repeat;
}

.slick-next {
  right: 0%;
  background: url('../images/sl-arrow-r.png') 0 0 no-repeat;
}

.slider__item {
  min-width: 180px;
  margin: 0 20px 30px 20px;
  text-align: center;
}

.slider__item-img {
  padding-top: 32px;
}

.slider__item-image {
  max-width: 152px;
  height: 152px;
}

.slider__item-text {
  font-size: 14px;
  text-align: justify;
}

.slider__item-num {
  position: absolute;
  width: 66px;
  height: 66px;
  font-size: 30px;
  z-index: 200;
  top: 0;
  padding-top: 16px;
  color: #fff;
  background: url('../images/prokr_item_corn.png')/*tpa=http://lucky-cars.ru/img/prokr_item_corn.png*/ no-repeat 0px 0px;
}

.feedback {
  padding: 100px 0 80px 0;
}

.feedback__top {
  display: flex;
  border-bottom: 1px solid #000;
}

.feedback__top-l {
  margin: 0 120px 35px 0;
}

.feedback__title {
  border: 8px solid #000;
  padding: 30px;
  margin: 0 0 30px 0;
  font-size: 72px;
  line-height: 62px;
  font-family: "firasans-extrabold";
}

.feedback__title span {
  font-size: 50px;
}

.feedback__text {
  background: url(../images/ico_people.png)/*tpa=http://lucky-cars.ru/img/ico_people.png*/ no-repeat 0px 3px;
  padding: 0 15px 0 60px;
  font-size: 18px;
  line-height: 24px;
}

.sliderfeed {
  position: relative;
  min-width: 0;
  width: 100%;
  overflow: hidden;
  padding: 30px 0;
}

.sliderfeed__item {
  min-width: 180px;
  margin: 20px 20px 30px 20px;
  text-align: center;
  border: solid 3px #b1b1b1;
}

.sliderfeed__img {
  padding-top: 30px;
}

.sliderfeed__title {
  color: #db8900;
  font-size: 20px;
  font-weight: bold;
  line-height: 28px;
  padding-top: 10px;
  text-align: center;
}

.sliderfeed__title span {
  color: #fff;
  padding: 0 80px;
  font-size: 17px;
  text-align: center;
  background: url(../images/rev_lines.png)/*tpa=http://lucky-cars.ru/img/rev_lines.png*/ #db8900 no-repeat right -1px;
}

.sliderfeed__text {
  font-size: 17px;
  line-height: 22px;
  padding: 10px 40px;
  text-align: justify;
}

.sliderfeed .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
  padding: 0;
}

.sliderfeed .slick-dots li {
  list-style: none;
  margin: 0 5px;
}

.sliderfeed .slick-dots button {
  font-size: 0;
  width: 5px;
  height: 14px;
  background-color: #b1b1b1;
  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;
}

.sliderfeed .slick-active button {
  background-color: #db8900;
}

.using {
  background: url(../images/bg12.jpg)/*tpa=http://lucky-cars.ru/img/bg12.jpg*/ no-repeat center center;
}

.using__content {
  padding-bottom: 36px;
}

.using__title {
  text-align: center;
  color: #fff;
  padding: 45px 0 20px 0;
  margin: 0 80px 55px 80px;
  font-family: "firasans-extrabold";
  font-size: 50px;
  border-bottom: 1px solid #fff;
}

.using__title-text {
  margin: 0;
}

.using__description {
  display: flex;
  justify-content: space-between;
}

.using__item {
  padding: 0 110px 0 13px;
  min-width: 150px;
  background: url(../images/scr12_it.png)/*tpa=http://lucky-cars.ru/img/scr12_it.png*/ no-repeat 0px 0px;
}

.using__item-num {
  padding: 13px 0px 0px 0px;
  font-size: 24px;
  margin: 0;
  color: #343434;
}

.using__item-img {
  padding-left: 67px;
}

.using__item-text {
  margin: 0;
  padding: 16px 0px 3px 28px;
  font-size: 15px;
  text-align: center;
}

.using__bottom {
  padding: 65px 0 15px 18px;
}

.using__btn {
  color: #000;
  text-decoration: none;
  padding: 15px 25px;
  transition: background 0.2s linear 0s;
  background: url(../images/zak_but.png)/*tpa=http://lucky-cars.ru/img/zak_but.png*/ no-repeat center center;
}

.using__btn:hover {
  background: url(../images/zak_but_sel.png)/*tpa=http://lucky-cars.ru/img/zak_but.png*/ no-repeat center center;
}

.order__content {
  padding-bottom: 30px;
  border-bottom: 1px solid #000;
}

.order__top {
  display: flex;
  justify-content: center;
  margin: 50px 60px;
}

.order__title {
  font-family: "firasans-extrabold";
  padding: 20px 150px 0 50px;
  border: 1px solid rgb(180, 180, 180);
}

.order__title-main {
  line-height: 45px;
  font-size: 36px;
  margin: 20px 0;
}

.order__title-main span {
  font-size: 70px;
  color: #db8900;
}

.order__title-img {
  margin-left: -75px;
}

.order__title-sub {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 27px;
  padding: 15px 0 0 0;
  margin: 0 70px;
  border-top: 1px solid rgb(180, 180, 180);
}

.order__title-sub-a {
  text-decoration: none;
  color: #000;
  border-bottom: 2px dashed #000;
}

.order__title-sub-a:hover {
  border-bottom: none;
  padding-bottom: 2px;
}

.order__title-sub-c {
  color: #db8900;
}

.order__form {
  background-color: #f4f4f4;
  padding: 20px 50px;
}

.order__form-title {
  font-size: 17px;
}

.order__form-title span {
  font-weight: bold;
}

.form__elem {
  margin-bottom: 20px;
}

.form__elem-title {
  display: flex;
  align-items: center;
}

.form__elem-num {
  font-size: 48px;
  color: #d9d9da;
  font-family: "firasans-extrabold";
  margin: 10px 15px 10px;
}

.form__elem-text {
  padding: 5px;
  font-size: 17px;
  color: #ffffff;
  background-color: #db8900;
  margin-left: 15px;
}

.form__inner {
  display: grid;
  grid: repeat(1, 1fr) / repeat(5, 1fr);
}

.form__input {
  height: 38px;
  padding: 0 23px 0 23px;
  font-size: 14px;
  outline: none;
  margin: 8px 0 0 15px;
}

.form__input-model {
  /* width: 700px; */
  grid-column: 1 / 5;
}

.form__input-year {
  /* width: 80px; */
  margin-left: 15px;
  grid-column: 5 / 6;
}

.form__inner-data {
  display: grid;
  /* grid: repeat(3, 1fr) / repeat(5, 1fr); */
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-rows: repeat(3, 1fr); */
}

.form__input-name {
  /* width: 70%; */
  grid-column: 1 / 4;
}

.form__input-tel {
  /* margin-left: 15px; */
  width: 69%;
}

.form__input-email {
  /* margin-left: 15px; */
  width: 69%;
}

.form__input-cost {
  /* width: 150px; */
  width: 68%;
}

.form__input-comment {
  /* margin-left: 15px; */
  /* width: 630px; */
  grid-column: 1 / 4;
}

.form__inner-radio {
  display: flex;
  flex-direction: column;
}

.form__change {
  display: flex;
  align-items: center;
}

.form__radio-text {
  margin-left: 18px;
}

.form__radio-text span {
  font-size: 22px;
  color: #fff;
  background-color: #181b2e;
  padding: 2px 7px;
}

.form__inner-gift {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form__btn {
  padding: 26px 77px 28px 100px;
  font-size: 23px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  color: #000;
  font-family: "firasans-regular";
  transition: background 0.2s linear 0s;
  background: url(../images/but_main.png)/*tpa=http://lucky-cars.ru/img/but_main.png*/ no-repeat 0px 0px;
}

.form__btn:hover {
  background: url(../images/but_main_sel.png)/*tpa=http://lucky-cars.ru/img/but_main.png*/ no-repeat 0px 0px;
}

.form__bottom {
  margin-top: 40px;
}

.form__bottom-text {
  color: #818181;
  font-size: 13px;
  line-height: 18px;
}

.pers-data {
  color: #2a6496;
  text-decoration: none;
}

.pers-data:hover {
  color: #181b2e;
}

.contacts {
  background: url(../images/bg14.png)/*tpa=http://lucky-cars.ru/img/bg14.png*/ no-repeat center 0px;
}

.contacts__content {
  display: flex;
  justify-content: space-between;
}

.contacts__title {
  padding: 0 0 25px 70px;
  font-size: 41px;
  font-family: "firasans-extrabold";
  border-bottom: solid 1px #000;
  background: url(../images/ico_con.png)/*tpa=http://lucky-cars.ru/img/ico_con.png*/ no-repeat 0px 5px;
}

.contacts__text-item {
  margin: 30px 0;
}

.contacts__text-title {
  font-size: 18px;
  padding-left: 27px;
  font-weight: bold;
  margin: 0;
}

.contacts__text-phone {
  background: url(../images/ico5.png)/*tpa=http://lucky-cars.ru/img/ico1.png*/ no-repeat 0px 2px;
}

.contacts__text-mail {
  background: url(../images/ico3.png)/*tpa=http://lucky-cars.ru/img/ico1.png*/ no-repeat 0px 2px;
}

.contacts__text-post {
  background: url(../images/ico2.png)/*tpa=http://lucky-cars.ru/img/ico1.png*/ no-repeat 0px 2px;
}

.contacts__text-hour {
  background: url(../images/ico1.png)/*tpa=http://lucky-cars.ru/img/ico1.png*/ no-repeat 0px 2px;
}

.contacts__text-t {
  margin-top: 10px;
}

.map__area {
  margin: 60px;
  border-radius: 50%;
  overflow: hidden;
  border: solid 2px #db8900;
}

.footer__content {
  padding: 20px 0;
}

.footer-menu {
  border-top: 1px solid rgb(189, 189, 189);
  border-bottom: 1px solid rgb(189, 189, 189);
  margin: 20px 0;
}

.footer-menu__list {
  display: flex;
  justify-content: space-between;
  padding: 0 100px;
  color: rgb(189, 189, 189);
}

.footer-menu__list-item {
  list-style-type: none;
}

.footer-menu__list-link {
  text-decoration: none;
  color: rgb(189, 189, 189);
  font-size: 14px;
  transition: all 0.5s ease;
}

.footer-menu__list-link:hover {
  text-decoration: underline;
}

.footer-menu__line {
  margin: 0 5px;
}

.footer-docs {
  display: flex;
  justify-content: center;
  padding: 0 150px;
  font-size: 14px;
  margin-top: 30px;
}

.footer-docs__item {
  color: #0000ff;
}

.footer-docs__item:hover {
  text-decoration: none;
}

.footer-copy__text {
  text-align: center;
  font-size: 13px;
  padding-top: 20px;
}

/* Top button */

.top-button {
  position: fixed;
  right: 40px;
  bottom: 50px;
  width: 50px;
  height: 50px;
  border-color: transparent;
  border-radius: 50%;
  background: #2f2f2f;
  z-index: 99;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  display: none;
}

.top-button:hover,
.top-button:focus {
  -webkit-filter: brightness(1.4);
  filter: brightness(1.4);
  outline: none;
}

.top-button::before,
.top-button::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.top-button::before {
  width: 5px;
  height: 25px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: #f5f0f6;
}

.top-button:after {
  width: 15px;
  height: 15px;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  -ms-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
  border-top: 5px solid #f5f0f6;
  border-left: 5px solid #f5f0f6;
}

/* Popup window */

.popup-fast {
  background-color: #e7e7e7;
  z-index: 110;
  padding: 20px 30px;
  position: absolute;
  left: 31%;
  right: 31%;
  padding: 30px 26px;
  display: none;
}

.popup-fast .active {
  display: block;
}

.popup-fast__title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-fast__subtitle {
  border-top: solid 1px #b3b3b3;
  font-size: 18px;
  color: #000;
  font-family: "firasans-regular";
  margin-top: 20px;
  padding: 10px 0;
}

.popup-fast .form-title {
  margin: 0;
  padding: 0 25px;
  font-size: 44px;
  font-family: "firasans-extrabold";
}

.popup-fast form {
  height: 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: center;
}

.popup-fast input {
  height: 38px;
  padding: 0 23px 0 23px;
  font-size: 16px;
  outline: none;
  margin: 8px 0;
}

.popup-fast .btn-send {
  font-size: 23px;
  font-family: "firasans-regular";
  background: url(../images/but.png)/*tpa=http://lucky-cars.ru/img/but.png*/ no-repeat center 0px;
  border: none;
  display: block;
  cursor: pointer;
  text-align: center;
  padding: 25px 0;
  margin: 0 8px;
  /* width: 100%; */
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.popup-fast .btn-send:hover {
  background: url(../images/but_sel.png)/*tpa=http://lucky-cars.ru/img/but.png*/ no-repeat center 0px;
}

.bg-popup {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 109;
  background: rgba(54, 54, 54, 0.7);
  display: none;
}

/* Sandwich Menu */

#sandwich {
	width: 50px;
	height: 50px;
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
	margin: auto;
	display: none;
}
.sw-top {
	width: 50px;
	height: 5px;
	position: relative;
	top: 0;
	background: #fff;
	border: none;
	border-radius: 4px;
	transition: transform 0.5s, top 0.2s;
	transition-delay: 0.2s, 0s;
}
.sw-center {
	width: 50px;
	height: 5px;
	position: relative;
	top: 10px;
	background: #fff;
	border: none;
	border-radius: 4px;
	transition: transform 0.5s, top 0.2s;
	transition-delay: 0.2s, 0s;
}
.sw-bottom {
	width: 50px;
	height: 5px;
	position: relative;
	top: 20px;
	background: #fff;
	border: none;
	border-radius: 4px;
	transition: transform 0.5s, top 0.2s;
	transition-delay: 0.2s, 0s;
}
#sandwich.active .sw-top {
	top: 15px;
	transform: rotate(140deg);
}
#sandwich.active .sw-center {
	top: 10px;
	transform: rotate(-140deg);
}
#sandwich.active .sw-bottom {
	top: 0;
	opacity: 0;
	transform: rotate(140deg);
}

/* Welcome page */

.welcome {
  padding: 30px 0 70px 0;
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../images/bg_welcome.jpg)/*tpa=http://lucky-cars.ru/img/bg_welcome.jpg*/;
}

.welcome__content-title {
  font-size: 72px;
  margin: 0 660px 20px 0;
  color: #ffffff;
  font-family: "firasans-extrabold";
  background-color: #181b2e;
  padding: 5px 20px;
}

.welcome__content-subtitle {
  font-size: 48px;
  margin: 20px 473px 20px 0;
  color: #ffffff;
  font-family: "firasans-extrabold";
  background-color: #181b2e;
  padding: 5px 20px;
}

.welcome__content-text {
  font-size: 17px;
  font-family: "firasans-extrabold";
  margin: 20px 450px 0 0;
  padding: 0 35px;
}

.welcome__text-mail {
  background: url(../images/ico3.png)/*tpa=http://lucky-cars.ru/img/ico1.png*/ no-repeat 0px 2px;
}

.welcome__text-phone {
  background: url(../images/ico5.png)/*tpa=http://lucky-cars.ru/img/ico1.png*/ no-repeat 0px 2px;
}

.welcome__text-hour {
  background: url(../images/ico1.png)/*tpa=http://lucky-cars.ru/img/ico1.png*/ no-repeat 0px 2px;
}

.welcome__goback {
  font-size: 19px;
  color: #000;
  text-decoration: none;
  border-bottom: 2px dashed #000;
}

.welcome__goback:hover {
  border-bottom: none;
  padding-bottom: 2px;
}

.welcome__content-goback {
  margin-top: 30px;
}