@media screen and (max-width: 1200px) {
  .header {
    -ms-grid-columns: (1fr)[8];
        grid-template-columns: repeat(8, 1fr);
  }
  .header-logo {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }
  .header-schedule {
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-column: 4/5;
  }
  .header-phone {
    -ms-grid-column: 5;
    -ms-grid-column-span: 3;
    grid-column: 5/8;
  }
  .header-phone__link {
    font-size: 16px;
  }
  .offer-title {
    font-size: 30px;
  }
  .price {
    -ms-grid-columns: (1fr)[8];
        grid-template-columns: repeat(8, 1fr);
  }
  .form {
    -ms-grid-column: 4;
    -ms-grid-column-span: 4;
    grid-column: 4/8;
  }
  .advantages {
    -ms-grid-columns: (1fr)[10];
        grid-template-columns: repeat(10, 1fr);
  }
  .advantages-title {
    -ms-grid-column: 2;
    -ms-grid-column-span: 8;
    grid-column: 2/10;
  }
  .advantages-subtitle {
    -ms-grid-column: 2;
    -ms-grid-column-span: 8;
    grid-column: 2/10;
  }
  .advantages-items {
    -ms-grid-column: 2;
    -ms-grid-column-span: 8;
    grid-column: 2/10;
  }
  .search-title {
    -ms-grid-column: 2;
    -ms-grid-column-span: 8;
    grid-column: 2/10;
  }
  .search-subtitle {
    -ms-grid-column: 2;
    -ms-grid-column-span: 8;
    grid-column: 2/10;
  }
  .search-input__vendor {
    -ms-grid-column: 3;
    -ms-grid-column-span: 3;
    grid-column: 3/6;
  }
  .search-input__place {
    padding: 20px 0px 20px 20px;
  }
  .search-input__phone {
    -ms-grid-column: 6;
    -ms-grid-column-span: 3;
    grid-column: 6/9;
  }
  .search-btn {
    -ms-grid-column: 5;
    -ms-grid-column-span: 2;
    grid-column: 5/7;
    padding: 14px 0 14px 0;
  }
  .search-tel {
    -ms-grid-column: 2;
    -ms-grid-column-span: 8;
    grid-column: 2/10;
  }
  .discount {
    grid-column-gap: 1vw;
    -ms-grid-columns: (1fr)[14];
        grid-template-columns: repeat(14, 1fr);
  }
  .discount-title {
    -ms-grid-column: 3;
    -ms-grid-column-span: 10;
    grid-column: 3/13;
  }
  .discount-one {
    -ms-grid-column: 2;
    -ms-grid-column-span: 3;
    grid-column: 2/5;
  }
  .discount-two {
    -ms-grid-column: 5;
    -ms-grid-column-span: 3;
    grid-column: 5/8;
  }
  .discount-three {
    -ms-grid-column: 8;
    -ms-grid-column-span: 3;
    grid-column: 8/11;
  }
  .discount-four {
    -ms-grid-column: 11;
    -ms-grid-column-span: 3;
    grid-column: 11/14;
  }
  .questions-title {
    -ms-grid-column: 2;
    -ms-grid-column-span: 8;
    grid-column: 2/10;
  }
  .questions-list {
    -ms-grid-column: 2;
    -ms-grid-column-span: 4;
    grid-column: 2/6;
  }
  .questions-list__item {
    font-size: 13px;
  }
  .questions-img {
    -ms-grid-column: 6;
    -ms-grid-column-span: 4;
    grid-column: 6/10;
  }
  .easy {
    grid-column-gap: 2vw;
  }
  .easy-text {
    font-size: 15px;
  }
  .store {
    -ms-grid-columns: (1fr)[11];
        grid-template-columns: repeat(11, 1fr);
  }
  .store-title {
    -ms-grid-column: 3;
    -ms-grid-column-span: 7;
    grid-column: 3/10;
  }
  .store-subtitle {
    -ms-grid-column: 3;
    -ms-grid-column-span: 7;
    grid-column: 3/10;
  }
  .store-one {
    -ms-grid-column: 2;
    -ms-grid-column-span: 3;
    grid-column: 2/5;
  }
  .store-two {
    -ms-grid-column: 5;
    -ms-grid-column-span: 3;
    grid-column: 5/8;
  }
  .store-three {
    -ms-grid-column: 8;
    -ms-grid-column-span: 3;
    grid-column: 8/11;
  }
  .services {
    -ms-grid-columns: (1fr)[11];
        grid-template-columns: repeat(11, 1fr);
    grid-column-gap: 2vw;
  }
  .services-title {
    -ms-grid-column: 2;
    -ms-grid-column-span: 9;
    grid-column: 2/11;
  }
  .services-one {
    -ms-grid-column: 2;
    -ms-grid-column-span: 3;
    grid-column: 2/5;
  }
  .services-two {
    -ms-grid-column: 5;
    -ms-grid-column-span: 3;
    grid-column: 5/8;
  }
  .services-three {
    -ms-grid-column: 8;
    -ms-grid-column-span: 3;
    grid-column: 8/11;
  }
  .callback-title {
    -ms-grid-column: 2;
    -ms-grid-column-span: 8;
    grid-column: 2/10;
  }
  .callback-input {
    -ms-grid-column: 3;
    -ms-grid-column-span: 3;
    grid-column: 3/6;
  }
  .callback-btn {
    -ms-grid-column: 6;
    -ms-grid-column-span: 3;
    grid-column: 6/9;
  }
  .location-title {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
  }
  .footer-text {
    margin-bottom: 0;
    text-align: right;
  }
}

@media screen and (max-width: 992px) {
  .header {
    -ms-grid-columns: (1fr)[10];
        grid-template-columns: repeat(10, 1fr);
  }
  .header-logo {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }
  .header-schedule {
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-column: 3/5;
    -ms-grid-column-align: end;
        justify-self: end;
  }
  .header-phone {
    -ms-grid-column: 5;
    -ms-grid-column-span: 5;
    grid-column: 5/10;
  }
  .offer {
    -ms-grid-column: 2;
    -ms-grid-column-span: 4;
    grid-column: 2/6;
  }
  .form {
    -ms-grid-column: 2;
    -ms-grid-column-span: 6;
    grid-column: 2/8;
  }
  .advantages-items {
    grid-column-gap: 1vw;
  }
  .advantages-items__text {
    font-size: 15px;
  }
  .search {
    grid-row-gap: 3vw;
  }
  .search-input__vendor {
    -ms-grid-column: 2;
    -ms-grid-column-span: 4;
    grid-column: 2/6;
  }
  .search-input__phone {
    -ms-grid-column: 6;
    -ms-grid-column-span: 4;
    grid-column: 6/10;
  }
  .search-btn {
    -ms-grid-column: 4;
    -ms-grid-column-span: 4;
    grid-column: 4/8;
  }
  .search-text {
    -ms-grid-column: 3;
    -ms-grid-column-span: 6;
    grid-column: 3/9;
  }
  .search-call {
    -ms-grid-column: 3;
    -ms-grid-column-span: 6;
    grid-column: 3/9;
  }
  .guarantee {
    grid-column-gap: 3vw;
  }
  .discount-title {
    -ms-grid-column: 2;
    -ms-grid-column-span: 12;
    grid-column: 2/14;
    margin-bottom: 30px;
  }
  .discount-one {
    -ms-grid-column: 3;
    -ms-grid-column-span: 4;
    grid-column: 3/7;
  }
  .discount-two {
    -ms-grid-column: 9;
    -ms-grid-column-span: 4;
    grid-column: 9/13;
  }
  .discount-three {
    -ms-grid-column: 3;
    -ms-grid-column-span: 4;
    grid-column: 3/7;
  }
  .discount-four {
    -ms-grid-column: 9;
    -ms-grid-column-span: 4;
    grid-column: 9/13;
  }
  .questions-list {
    padding: 0;
  }
  .easy {
    -ms-grid-columns: (1fr)[11];
        grid-template-columns: repeat(11, 1fr);
  }
  .easy-title {
    -ms-grid-column: 2;
    -ms-grid-column-span: 9;
    grid-column: 2/11;
  }
  .easy-subtitle {
    -ms-grid-column: 2;
    -ms-grid-column-span: 9;
    grid-column: 2/11;
  }
  .easy-one {
    -ms-grid-column: 2;
    -ms-grid-column-span: 3;
    grid-column: 2/5;
  }
  .easy-two {
    -ms-grid-column: 5;
    -ms-grid-column-span: 3;
    grid-column: 5/8;
  }
  .easy-three {
    -ms-grid-column: 8;
    -ms-grid-column-span: 3;
    grid-column: 8/11;
  }
  .store {
    grid-row-gap: 1vw;
    -ms-grid-columns: (1fr)[12];
        grid-template-columns: repeat(12, 1fr);
  }
  .store-title {
    -ms-grid-column: 2;
    -ms-grid-column-span: 10;
    grid-column: 2/12;
    margin-top: 75px;
  }
  .store-subtitle {
    -ms-grid-column: 2;
    -ms-grid-column-span: 10;
    grid-column: 2/12;
  }
  .store-one {
    -ms-grid-column: 3;
    -ms-grid-column-span: 8;
    grid-column: 3/11;
  }
  .store-two {
    -ms-grid-column: 3;
    -ms-grid-column-span: 4;
    grid-column: 3/7;
  }
  .store-three {
    -ms-grid-column: 7;
    -ms-grid-column-span: 4;
    grid-column: 7/11;
    margin-bottom: 75px;
  }
  .services {
    -ms-grid-columns: (1fr)[9];
        grid-template-columns: repeat(9, 1fr);
  }
  .services-title {
    -ms-grid-column: 2;
    -ms-grid-column-span: 7;
    grid-column: 2/9;
    font-size: 30px;
    margin: 30px 0 30px 0;
  }
  .services-one {
    -ms-grid-column: 4;
    -ms-grid-column-span: 3;
    grid-column: 4/7;
  }
  .services-two {
    -ms-grid-column: 4;
    -ms-grid-column-span: 3;
    grid-column: 4/7;
  }
  .services-three {
    -ms-grid-column: 4;
    -ms-grid-column-span: 3;
    grid-column: 4/7;
  }
  .services-circle {
    min-height: 124px;
  }
  .callback-input {
    -ms-grid-column: 2;
    -ms-grid-column-span: 4;
    grid-column: 2/6;
  }
  .callback-btn {
    -ms-grid-column: 6;
    -ms-grid-column-span: 4;
    grid-column: 6/10;
  }
  .location {
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
  }
  .location-title {
    -ms-grid-column: 2;
    -ms-grid-column-span: 4;
    grid-column: 2/6;
  }
  .location-subtitle {
    -ms-grid-column: 2;
    -ms-grid-column-span: 4;
    grid-column: 2/6;
  }
  .location-tel {
    -ms-grid-column: 2;
    -ms-grid-column-span: 4;
    grid-column: 2/6;
  }
  .footer {
    grid-column-gap: 2vw;
    -ms-grid-columns: (1fr)[8];
        grid-template-columns: repeat(8, 1fr);
  }
  .footer-text {
    -ms-grid-column: 3;
    -ms-grid-column-span: 3;
    grid-column: 3/6;
  }
  .footer-call {
    -ms-grid-column: 6;
    -ms-grid-column-span: 2;
    grid-column: 6/8;
  }
}

@media screen and (max-width: 768px) {
  .header-logo {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/4;
    margin: 20px 0 10px 0;
  }
  .header-schedule {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/4;
    -ms-grid-column-align: start;
        justify-self: start;
    margin-bottom: 20px;
  }
  .header-phone {
    -ms-grid-column: 4;
    -ms-grid-column-span: 6;
    grid-column: 4/10;
    margin-bottom: 20px;
  }
  .offer {
    -ms-grid-column: 2;
    -ms-grid-column-span: 5;
    grid-column: 2/7;
  }
  .offer-title {
    font-size: 28px;
  }
  .form-title {
    -ms-grid-column: 2;
    -ms-grid-column-span: 6;
    grid-column: 2/8;
  }
  .form-input__mail {
    -ms-grid-column: 1;
    -ms-grid-column-span: 7;
    grid-column: 1/8;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
  .form-input__phone {
    -ms-grid-column: 1;
    -ms-grid-column-span: 7;
    grid-column: 1/8;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
  }
  .form-subtitle {
    -ms-grid-column: 7;
    -ms-grid-column-span: 1;
    grid-column: 7/8;
    -ms-grid-row: 7;
    -ms-grid-row-span: 1;
    grid-row: 7/8;
    -ms-grid-columns: 3fr 1fr;
        grid-template-columns: 3fr 1fr;
  }
  .form-btn {
    -ms-grid-column: 1;
    -ms-grid-column-span: 7;
    grid-column: 1/8;
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    grid-row: 6/7;
  }
  .guarantee-title {
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-column: 1/6;
    margin-top: 70px;
  }
  .guarantee-contract {
    -ms-grid-column: 2;
    -ms-grid-column-span: 3;
    grid-column: 2/5;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    margin-top: 30px;
  }
  .guarantee-production {
    -ms-grid-column: 2;
    -ms-grid-column-span: 3;
    grid-column: 2/5;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    margin-top: 30px;
  }
  .guarantee-quality {
    -ms-grid-column: 2;
    -ms-grid-column-span: 3;
    grid-column: 2/5;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
    margin-top: 30px;
    margin-bottom: 70px;
  }
  .guarantee__text {
    margin-bottom: 0;
  }
  .discount-one {
    -ms-grid-column: 3;
    -ms-grid-column-span: 5;
    grid-column: 3/8;
  }
  .discount-two {
    -ms-grid-column: 8;
    -ms-grid-column-span: 5;
    grid-column: 8/13;
  }
  .discount-three {
    -ms-grid-column: 3;
    -ms-grid-column-span: 5;
    grid-column: 3/8;
  }
  .discount-four {
    -ms-grid-column: 8;
    -ms-grid-column-span: 5;
    grid-column: 8/13;
  }
  .questions-list {
    -ms-grid-column: 2;
    -ms-grid-column-span: 8;
    grid-column: 2/10;
    padding-left: 25px;
  }
  .questions-list__item {
    font-size: 16px;
  }
  .questions-img {
    -ms-grid-column: 2;
    -ms-grid-column-span: 8;
    grid-column: 2/10;
    margin-bottom: 50px;
  }
  .easy-title {
    margin-top: 0;
  }
  .services-one {
    -ms-grid-column: 3;
    -ms-grid-column-span: 5;
    grid-column: 3/8;
  }
  .services-two {
    -ms-grid-column: 3;
    -ms-grid-column-span: 5;
    grid-column: 3/8;
  }
  .services-three {
    -ms-grid-column: 3;
    -ms-grid-column-span: 5;
    grid-column: 3/8;
  }
  .services-circle {
    min-height: 150px;
  }
  .callback-input {
    -ms-grid-column: 3;
    -ms-grid-column-span: 6;
    grid-column: 3/9;
    height: 110%;
  }
  .callback-btn {
    -ms-grid-column: 3;
    -ms-grid-column-span: 6;
    grid-column: 3/9;
    height: 55%;
    margin: 20px 0 20px 0;
  }
  .footer {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
  }
  .footer-text {
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
    -ms-grid-column: 2;
    -ms-grid-column-span: 5;
    grid-column: 2/7;
    -ms-grid-column-align: start;
        justify-self: start;
  }
  .footer-call {
    -ms-grid-column: 4;
    -ms-grid-column-span: 4;
    grid-column: 4/8;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
}

@media screen and (max-width: 576px) {
  .header-logo {
    -ms-grid-column: 2;
    -ms-grid-column-span: 8;
    grid-column: 2/10;
    -ms-grid-column-align: start;
        justify-self: start;
  }
  .header-schedule {
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
    -ms-grid-column: 2;
    -ms-grid-column-span: 3;
    grid-column: 2/5;
  }
  .header-phone {
    -ms-grid-column: 5;
    -ms-grid-column-span: 5;
    grid-column: 5/10;
    grid-row-gap: 2vw;
    -ms-grid-column-align: end;
        justify-self: end;
  }
  .header-phone__link {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    text-align: right;
  }
  .header-phone__btn {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
  }
  .offer {
    background: none;
    -ms-grid-column: 2;
    -ms-grid-column-span: 8;
    grid-column: 2/10;
  }
  .offer-title {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
    margin-top: 50%;
    text-align: center;
  }
  .offer-subtitle {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
    margin-top: 10px;
    text-align: center;
  }
  .offer-item {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
    text-align: center;
  }
  .form-title {
    font-size: 26px;
    -ms-grid-column: 1;
    -ms-grid-column-span: 8;
    grid-column: 1/9;
    text-align: center;
  }
  .form-input {
    -ms-grid-column: 1;
    -ms-grid-column-span: 8;
    grid-column: 1/9;
  }
  .form-subtitle {
    -ms-grid-column: 5;
    -ms-grid-column-span: 4;
    grid-column: 5/9;
  }
  .form-btn {
    -ms-grid-column: 1;
    -ms-grid-column-span: 8;
    grid-column: 1/9;
  }
  .advantages-title {
    font-size: 28px;
    -ms-grid-column: 1;
    -ms-grid-column-span: 10;
    grid-column: 1/11;
    margin-bottom: 20px;
  }
  .advantages-items__img {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1/5;
  }
  .advantages-items__img_one {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .advantages-items__img_two {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
  .advantages-items__img_three {
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5/6;
  }
  .advantages-items__img_four {
    -ms-grid-row: 7;
    -ms-grid-row-span: 1;
    grid-row: 7/8;
  }
  .advantages-items__text {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1/5;
  }
  .advantages-items__text_one {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .advantages-items__text_two {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
  }
  .advantages-items__text_three {
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    grid-row: 6/7;
  }
  .advantages-items__text_four {
    -ms-grid-row: 8;
    -ms-grid-row-span: 1;
    grid-row: 8/9;
  }
  .search-title {
    font-size: 26px;
  }
  .search-input__vendor {
    -ms-grid-column: 2;
    -ms-grid-column-span: 8;
    grid-column: 2/10;
  }
  .search-input__phone {
    -ms-grid-column: 2;
    -ms-grid-column-span: 8;
    grid-column: 2/10;
  }
  .search-btn {
    -ms-grid-column: 2;
    -ms-grid-column-span: 8;
    grid-column: 2/10;
  }
  .search-text {
    -ms-grid-column: 2;
    -ms-grid-column-span: 8;
    grid-column: 2/10;
  }
  .search-tel {
    font-size: 28px;
  }
  .guarantee-contract {
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-column: 1/6;
  }
  .guarantee-production {
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-column: 1/6;
  }
  .guarantee-quality {
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-column: 1/6;
  }
  .discount-title {
    font-size: 28px;
  }
  .discount-one {
    -ms-grid-column: 3;
    -ms-grid-column-span: 10;
    grid-column: 3/13;
  }
  .discount-two {
    -ms-grid-column: 3;
    -ms-grid-column-span: 10;
    grid-column: 3/13;
  }
  .discount-three {
    -ms-grid-column: 3;
    -ms-grid-column-span: 10;
    grid-column: 3/13;
  }
  .discount-four {
    -ms-grid-column: 3;
    -ms-grid-column-span: 10;
    grid-column: 3/13;
  }
  .discount-circle {
    min-height: 114px;
  }
  .questions {
    grid-column-gap: 0vw;
  }
  .questions-title {
    font-size: 28px;
  }
  .questions-list {
    -ms-grid-column: 2;
    -ms-grid-column-span: 8;
    grid-column: 2/10;
    line-height: 1em;
  }
  .questions-list__item {
    font-size: 14px;
    margin-bottom: 14px;
  }
  .easy-title {
    font-size: 28px;
    margin-top: 30px;
  }
  .easy-one {
    -ms-grid-column: 2;
    -ms-grid-column-span: 9;
    grid-column: 2/11;
  }
  .easy-two {
    -ms-grid-column: 2;
    -ms-grid-column-span: 9;
    grid-column: 2/11;
  }
  .easy-three {
    -ms-grid-column: 2;
    -ms-grid-column-span: 9;
    grid-column: 2/11;
    margin-bottom: 30px;
  }
  .store {
    grid-row-gap: 4vw;
  }
  .store-title {
    font-size: 28px;
    margin-top: 30px;
  }
  .store-one {
    -ms-grid-column: 2;
    -ms-grid-column-span: 10;
    grid-column: 2/12;
  }
  .store-two {
    -ms-grid-column: 2;
    -ms-grid-column-span: 10;
    grid-column: 2/12;
  }
  .store-three {
    -ms-grid-column: 2;
    -ms-grid-column-span: 10;
    grid-column: 2/12;
    margin-bottom: 30px;
  }
  .services {
    grid-column-gap: 0vw;
  }
  .services-title {
    font-size: 27px;
  }
  .services-one {
    -ms-grid-column: 2;
    -ms-grid-column-span: 7;
    grid-column: 2/9;
  }
  .services-two {
    -ms-grid-column: 2;
    -ms-grid-column-span: 7;
    grid-column: 2/9;
  }
  .services-three {
    -ms-grid-column: 2;
    -ms-grid-column-span: 7;
    grid-column: 2/9;
  }
  .services-circle {
    min-height: 130px;
  }
  .services-text {
    min-height: 0;
  }
  .callback {
    grid-column-gap: 0vw;
    grid-row-gap: 3vw;
  }
  .callback-title {
    font-size: 27px;
  }
  .callback-tel {
    font-size: 28px;
    -ms-grid-column: 2;
    -ms-grid-column-span: 8;
    grid-column: 2/10;
  }
  .callback-input {
    -ms-grid-column: 2;
    -ms-grid-column-span: 8;
    grid-column: 2/10;
    padding: 10px 0 10px 0;
  }
  .callback-input__fa {
    margin-top: 6px;
  }
  .callback-btn {
    -ms-grid-column: 2;
    -ms-grid-column-span: 8;
    grid-column: 2/10;
    height: 70%;
    margin: 10px 0 20px 0;
    padding-top: 12px;
  }
  .location-title {
    margin-top: 0;
  }
  .location-tel {
    font-size: 24px;
  }
  .footer {
    grid-column-gap: 0vw;
  }
  .footer-logo {
    -ms-grid-column: 2;
    -ms-grid-column-span: 6;
    grid-column: 2/8;
    -ms-grid-column-align: center;
        justify-self: center;
    margin-top: 20px;
  }
  .footer-call {
    -ms-grid-column: 2;
    -ms-grid-column-span: 6;
    grid-column: 2/8;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .footer-text {
    font-size: 11px;
    -ms-grid-column: 2;
    -ms-grid-column-span: 6;
    grid-column: 2/8;
    -ms-grid-column-align: center;
        justify-self: center;
    margin-bottom: 20px;
    text-align: center;
  }
}
/*# sourceMappingURL=media.css.map */