.preloader {
	position: fixed;
	background-color: #2E5386;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 999;
}

.preloader > div {
	position: relative;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.preloader i {
	font-size: 55px;
	color: #fff;
}

@media screen and (max-width: 1200px) {
	
}