@media screen and (max-width: 1200px) {
	.container {
		width: 90%;
		margin: 0 auto;
	}

	.logo-text {
		font-size: 20px;
	}
}

@media screen and (max-width: 992px) {
	.container {
		width: 90%;
		margin: 0 auto;
	}
}

@media screen and (max-width: 768px) {
	.container {
		width: 90%;
		margin: 0 auto;
	}
}

@media screen and (max-width: 576px) {
	.container {
		width: 90%;
		margin: 0 auto;
	}
}